*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace,Arial, Helvetica, sans-serif;
}

h1{
    color: #333;
}

header{
    position: relative;
    padding: 20px 0 0 20px;
    margin-bottom: 50px;
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.page-title-container{
    margin: 2.5rem 0;
}

.page-title-container_title{
    font-size: 4.2rem;
}


